# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Models & big artifacts
*.pt
*.pth
*.pkl
*.joblib

# Data & outputs (داخل گیت نره)
data/**
outputs/**
!data/README.md
